body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #dde1e7;
    font-family: Arial;
}

.container {
    background: #fff;
    width: 300px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px #aaa;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    background: #4b7bec;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #3867d6;
}

#msg {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}
